body {
    background-color: white;
    font-family: Arial, sans-serif;
    color: #1E90FF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #f0f8ff;
    padding: 20px;
    width: 500px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: left;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input, select {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #1E90FF;
    border-radius: 5px;
}

input[readonly] {
    background-color: #e0f7ff;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

button {
    background-color: #1E90FF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button2 {
    background-color: #f9d715;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #3c19b9;
}

button2:hover {
    background-color: #ef760c;
}